{% extends '@miracle/base.html.twig' %}

{% block body %}

    <p class="text-9xl uppercase">what</p>
    <div class="text-9xl">
        jljlj
    </div>

    <div class="text-xs">
        jljlj
    </div>

{% endblock %}
