{% extends '@shared/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('group_list') }}
{% endblock %}

{% block content %}
    <div id="group_list"></div>
{% endblock %}
