<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        https://symfony.com/schema/routing/routing-1.0.xsd">

    <!--Shared-->
    <route id="shared_homepage_no_locale"
           path="/"
           controller="App\Shared\Presentation\Controller\HomepageController::indexNoLocale"/>

    <import resource="routes/shared.xml"
            prefix="/{_locale&lt;%app.supported_locales%&gt;}"
            trailing-slash-on-root="false">
    </import>

    <!--Quran-->
    <import resource="routes/quran.xml"
            prefix="/{_locale&lt;%app.supported_locales%&gt;}/quran"
            trailing-slash-on-root="false">
    </import>
    <import resource="routes/quran_api.xml"
            prefix="/{_locale&lt;%app.supported_locales%&gt;}/api/quran"
            trailing-slash-on-root="false">
    </import>

    <!--Context-->
    <import resource="routes/context.xml"
            prefix="/{_locale&lt;%app.supported_locales%&gt;}/context"
            trailing-slash-on-root="false">
    </import>
    <import resource="routes/context_api.xml"
            prefix="/{_locale&lt;%app.supported_locales%&gt;}/api/contexts"
            trailing-slash-on-root="false">
    </import>

    <!--Sign-->
    <import resource="routes/sign.xml"
            prefix="/{_locale&lt;%app.supported_locales%&gt;}/sign"
            trailing-slash-on-root="false">
    </import>
    <import resource="routes/sign_api.xml"
            prefix="/{_locale&lt;%app.supported_locales%&gt;}/api/signs"
            trailing-slash-on-root="false">
    </import>

</routes>
